body{margin:0px;padding:0px;border:0px;height:80px}
#container{width:100%;height:731px;background-color:#7dd2ee;}
#romanimarte {display: none;
    text-align: center;
    background-color:#7dd2ee;
  width: 100%;
    height: 731px;
    position: relative;
    top: -2px;
    left: 0px;
    border-style: double;
    border-width: 5px;
    border-color: white;
}
.tbr0{font-size: 0px;background-color: #7dd2ee;width:0px;height:0px; display: none;
}

.tit0{font-size: 0px;background-color: #7dd2ee;width:0px;height:0px; display: none;}
.tit1 {transition: 1;opacity: 0;

    font-size: 25px;
    font-weight: bold;
    border-style: double;
    background-color: white;
    text-align: center;
    animation: tit1;
    animation-duration: 1s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
@keyframes tit1 {0%{opacity: 0;font-size: 0px;border-color: white;}
100%{opacity: 1;font-size: 25;border-color: black}
}


#p1{background-color:#7dd2ee;font-size: 20px;}
#send{padding-top: 20px;padding-bottom: 20px;padding-right: 20px;padding-left: 20px;transition: 1s;
  opacity: 0;transform: rotate(0);
    background-color: white;
    position: absolute;
    display: inline-block;
    color: #070808;
    border-radius: 50%;
    border-color: black;
    border-width: 5px;
    border-style: double;
    font-size: 54px;
    top: 76%;
    left: 26%;
animation: send;
animation-duration: 1s;
animation-timing-function:ease-in-out;
animation-fill-mode: forwards;
animation-play-state: running
}
@keyframes send {0%{opacity: 0;border-color: white;}
100%{opacity: 1;border-color: black}
}
/* #send:hover{transform: rotate(360deg);} */
#icon1{padding-top: 20px;padding-bottom: 20px;padding-right: 20px;padding-left: 20px;
    background-color: white;
    position: absolute;
    display: inline-block;
    color: #070808;
    border-radius: 50%;
    border-color: black;
    border-width: 5px;
    border-style: double;
    font-size: 30px;
    top: 13%;
    left: 17%;
}
/* 696273517 romanemarte */
